*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color: #E25822;
    --text-color: #000000;
    --heading-font: 2.5rem;
    --bg-color: #ECECEB;
    --h2-font: 2.25rem;
    --main-text-font: 3.25rem;
    --sub-heading-font: 1.4rem;
    --watermark-font: 9.375rem;
    --nav-font: 1.3rem;
    --soc-font:0.98rem;
}

body{
    background-color: var(--bg-color); 
}

/* home-content */
.home{
    background-image: url("../assets/Home.svg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

.home-content-img img{
    position: absolute;    
}
.desktop{
    width: 78%;
    height: auto;
}
.mobile{
    display: none;
}

.main-heading{
    font-style: normal;
    font-weight: 600;
    font-size: var(--heading-font);
    line-height: 49px;
    text-align: right;
    letter-spacing: 0.015em;
    color: #000000; 
}

.main-heading-dot{
    color: #E25822;
}
.main-heading-sub{
    font-style: italic;
    font-weight: 500;
    font-size: 1.563rem;
    line-height: 30px;
    text-align: right;
    color: #999999;
}

/* need to fix it */
.backround-text{
    width: 331px;
    height: 676px;
    margin-top: -75%;
    margin-left: -8%;
    font-style: normal;
    font-weight: bolder;
    font-size: var(--watermark-font);
    line-height: 150px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    
    text-align: center;
    color: rgba(153, 153, 153, 0.1);
} 


.main-text-highlight
{
    color: #E25822;
}
.main-text-light{
    color: #999999;
    font-style: italic;
}
.sub-text{
    position: static;
    height: 23px;
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-font);
    line-height: 23px;
    text-align: right;
    color: #000000;
    word-break: initial;
}

.heading{
    position: static;
    margin-top: 5%;
}
.home-text{
    width: 817.5px;
    height: 203px;
    font-style: normal;
    font-weight: 600;
    font-size: var(--main-text-font);
    line-height: 68px;
    letter-spacing: 0.015em;
    text-transform: lowercase;
    color: #000000;
    text-align: right;
    margin-left: auto; 
    margin-right: 0;
    margin-top: 8%;
}

.Register-button{
    text-align: right;
    position: static;
    margin-top: 10%;
}
.look-text{
    /* margin-left: -15%; */
    font-style: italic;
    font-weight: 300;
    font-size: 22.5px;
    line-height: 27px;
    letter-spacing: 0.015em;    
}
.btnn{
    border-radius: 25px;
    padding: 1% 5%; 
    border-color: var(--main-color);
    color: var(--main-color);
    font-size: 1.2rem;
    border: 3px solid var(--main-color);;
}
.btnn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
.navv{
    text-align: right;
}
.nav-item{
    display: inline-block;
    margin-left: 3%;
    margin-top: 10%;
}

.nav-link{

    font-style: normal;
    font-weight: 600;
    color: #000000;
    font-size: var(--nav-font);
}
.nav-link:hover{
    color: var(--main-color);
    transform: scale(1.2);
    transition: .4s;
}
.soc-item{
    display: inline-block;
    letter-spacing: 0.015em;
    margin-left: 3%;
}
.soc-link{
    font-style: normal;
    font-weight: 500;
    font-size: var(--soc-font);
    line-height: 18px;
    text-align: right;
    color: #ECECEB;
    text-decoration: none;
    /* margin-right: 40px; */
}

.soc-list{
    margin-top: -115%;
    margin-left: -90%;
    transform: rotate(-90deg);
}
/* not working */
.soc-link:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}

.home-text-content{
    margin-left: 45%;
}


/* About us CSS */
.about{
    background-image: url("../assets/About\ Us.svg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

.soc-link2{
    font-style: normal;
    font-weight: 500;
    font-size: var(--soc-font);
    line-height: 18px;
    text-align: right;
    color: var(--main-color);
    text-decoration: none;
    /* margin-right: 40px; */
}
.soc-link2:hover{
    color: #000000;
    transform: scale(1.2) translateZ(10px);
    transition: .4s;
}
.soc-item2{
    display: inline-block;
    letter-spacing: 0.015em;
    margin-right: 1%;
}

.soc-list2{
    margin-top: -50%;
    margin-left: -95%; 
    transform: rotate(-90deg);
}

.about-us-desktop-img{
    width: 68%;
    height: auto;
    float: right;
    margin-right: -5%;
}
.about-text{
    margin-top: 15%;
    margin-left: 15%;
}
.about-text-heading-main{
    font-style: normal;
    font-weight: 600;
    font-size: var(--sub-heading-font);
    line-height: 23px;
    letter-spacing: 0.015em;
    color: #999999;
    margin-top: -5%;
}
.about-text-heading-sub{
    font-style: normal;
    font-weight: 300;
    font-size: var(--sub-heading-font);
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000000; 
    margin-top: 4%;
}
.about-text-highlight{
    font-style: normal;
    font-weight: 600;
    font-size: var(--main-text-font);
    width: 547.5px;
    height: 128px;
    line-height: 64px;
    letter-spacing: 0.015em;
    text-transform: lowercase;
    color: var(--main-color);   
}
.about-text-content-main-text{
    width: 525px;
    height: 179.25px;
    font-style: normal;
    font-weight: 300;
    font-size: var(--sub-heading-font);
    line-height: 1.4em;
    letter-spacing: 0.03em;
    color: #000000;  
    margin-top: 4%; 
}
.team-link{
    margin-top: 12%;
}
/* need lightheads animation for this */
.team-nav-link{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    font-size: 22.5px;
    line-height: 27px;
    letter-spacing: 0.015em;
}

.team-nav-link:hover{
    color: var(--main-color);
    transform: scale(1.2);
    transition: .4s;
}


.about-nav{
    margin-top: 15%;
}
.about-nav-item{
    display: inline-block;
    text-align: left;
    width: 220px;
    height: 23px;
    margin-left: -4%;
    margin-right: 7%;
}
.about-nav-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    font-size: var(--nav-font);
    line-height: 23px;
    letter-spacing: 0.015em;
}
.about-nav-link:hover{
    color: var(--main-color);
}
.about-nav-item:hover{
    transform: scale(1.2);
    transition: .4s;
}
.about-nav{
    text-align: left;
}
.about-us-soc-nav{
    margin-top: -10%;
}
.about-us-watermark{
    margin-left: 84%;
    margin-top: -78%;
    font-style: normal;
    font-weight: 700;
    font-size: var(--watermark-font);
    line-height: 127px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    
    color: rgba(153, 153, 153, 0.1);
       
}
.about-text-content{
    margin-top: 5%;
}
.scroll-up-btn{
    margin-top: -30%;
    margin-left: 40%;
    width: 38%;
}
.scroll-up-btn:hover{
    transform: scale(1.2);
    transition: .4s;
}

/* team page section */
.team-desktop-img{
    width: 80%;
    height: auto;
}
.scroll-up-btn2{
    margin-top: -23%;
    margin-left: 15%;
    width: 38%;
}
.scroll-up-btn2:hover{
    transform: scale(1.2);
    transition: .4s;
}
.team-watermark{
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 127px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: rgba(153, 153, 153, 0.1);
    margin-left: 15%;
    margin-top: -85%;
}
.team-img-part{
    margin-top: -4%;
}
.member-img{
    width:  100%;
    height: auto;
    /* float: left; */
}
.img-with-text {
    text-align: justify;
    width: 22%;
    float: left;
}
.img-with-text img {
    display: block;
    margin: 0 auto;
}
.member-description{
    width: 372px;
    height: 115px;
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 23px;
    letter-spacing: 0.015em;
    margin-left: 25%;
    padding-top: 4%;
    color: #000000;
}
/* .member-des-div{
    margin-top: -40%;
} */
.member-name{
    font-style: normal;
    font-weight: 600;
    font-size: 26.25px;
    line-height: 32px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.015em;
    
    color: #000000;    
}
.member-role{
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 23px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.015em;
    
    color: #000000;
    
}
.img-with-text2 {
    text-align: justify;
    width: 22%;
    float: right;
}
.img-with-text img {
    display: block;
    margin: 0 auto;
}
.member-des-div2{
    margin-top: 25%;
}
.member-img2{
    margin-right: 5%;
    margin-top: -64%;
}

/* products-section */
.products-pg{
    background-image: url("../assets/Products.svg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.products-text-heading-sub{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 37px;
    letter-spacing: 0.015em;
    color: #999999;
}
.products-text-heading-main{
    font-weight: 600;
    font-size: 3rem;
    line-height: 73px;
    letter-spacing: 0.015em;
    color: #000000;
    
}
.products-img{
    width: 91%;
    height: auto;
    margin-left: 5%;
    margin-top: -20%;
}
.products-heading{
    margin-top: 10%;
    margin-left: 16.5%;
}
.product-nav-item{
    display: inline-block;
    text-align: left;
    width: 220px;
    height: 23px;
    margin-left: -4%;
    margin-right: 7%;
}
.product-nav-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    color: var(--main-color);
    font-size: 1.3rem;
    line-height: 23px;
    letter-spacing: 0.015em;
}
.product-nav-link:hover{
    color: var(--main-color);
}
.product-nav-item:hover{
    transform: scale(1.2);
    transition: .4s;
}
.product-nav{
    margin-left: 15%;
    margin-top: -10%;
}
.products-social-nav{
    margin-top: -10%;
}
.products-1{
    margin-top: 5%;
    margin-left: 26%;
    width: 600px;
    height: 255px;
}

.products-2{
    margin-top: 5%;
    margin-left: 26%;
    width: 600px;
    height: 250px;
}
.products-3{
    margin-top: 2%;
    margin-left: 26%;
    width: 600px;
    height: 250px;
}




/* contact-us-section */
.contact-pg{
    background-image: url("../assets/Contact\ Us.svg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.contact-nav{
    margin-top: -10%;
}
.contact-soc-link{
    font-style: normal;
    font-weight: 500;
    font-size: var(--soc-font);
    line-height: 18px;
    text-align: right;
    color: #ECECEB ;
    text-decoration: none;
    /* margin-right: 40px; */
}
.contact-soc-link:hover{
    /* transform: scale(0.5); */
    color: var(--main-color);
    transform: scale(1.2) translateZ(10px);
    transition: .4s;
}
.contact-soc-item{
    display: inline-block;
    letter-spacing: 0.015em;
    margin-right: 1%;
}

.contact-soc-list{
    margin-top: -50%;
    margin-left: -95%; 
    transform: rotate(-90deg);
}
.contact-us-text{
    margin-top: 15%;
    margin-left: 15%;
}
.contact-us-text-heading-sub{
    font-weight: 600;
    font-size: var(--sub-heading-font);
    line-height: 37px;
    letter-spacing: 0.015em;
    color: #999999;
}
.contact-us-text-heading-main{
    font-weight: 600;
    font-size: var(--heading-font);
    line-height: 73px;
    color: #ECECEB;
    letter-spacing: 0.015em;
}
.fa-envelope{
    border-color: #ECECEB;
}
.mail_address{
    font-weight: 600;
    font-size: var(--sub-heading-font);
    line-height: 33px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}
.location-txt{
    font-style: normal;
    font-weight: 600;
    font-size: var(--sub-heading-font);
    line-height: 33px;
    letter-spacing: 0.015em;
    color: #FFFFFF;    
    width: 349.5px;
    height: 99px;
}
.contact-us-addresses{
    margin-top: 12%;
}
.mail_address{
    margin-top: 3%;
}
.contact-us-location{
    margin-top: 8%;
}
.location-txt{
    margin-top: 3%;
}
.contact-nav-item{
    display: inline-block;
    text-align: left;
    width: 220px;
    height: 23px;
    margin-left: -4%;
    margin-right: 7%;
}
.contact-nav-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    color: #ECECEB;
    font-size: var(--nav-font);
    line-height: 23px;
    letter-spacing: 0.015em;
}
.contact-nav-link:hover{
    color: var(--main-color);
}
.contact-nav-item:hover{
    transform: scale(1.2);
    transition: .4s;
}

.contact-us-nav{
    margin-top: 25%;
}
.contact-us-watermark{
    position: static;
    font-style: normal;
    font-weight: 700;
    font-size: var(--watermark-font);
    line-height: 127px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.03);
    margin-left: 85%;
    margin-top: -85%;
}
.contact-us-desktop-img{
    width: 96%;
    height: fit-content;
}
.scroll-top-contact{
    /* margin-top: -50%;
    margin-left: 10%; */
}
.contact-scroll-img{
    width: 20%;
    height: auto;
    margin-top: 40%;
    margin-left: -30%;
    position: absolute;
}
.contact-scroll-img:hover{
    transform: scale(1.2);
    transition: .4s;
}
@media (max-width: 768px){
    .desktop{
        display: none;
    }
    .home{
        background-image: none;
    }
    .mobile{
        display: block;
        width: 100%;
        height: auto;
    }
    .main-heading{
        position: absolute;
        width: 182px;
        height: 37px;
        /* text-align: center; */
        margin-left: 25%;
        top: 6%;
        
    }
    .main-heading-sub{
        top: 11%;
        /* text-align: center; */
    }
    .backround-text{
        display: none;
    }
    .main-text{
        position: absolute;
        width: 215px;
        height: 378px;
        /* left: 42%; */
        top: 47%;
        text-align: center;
        margin-left: 25%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.875rem;
        line-height: 54px;
        /* or 180% */
        letter-spacing: 0.015em;
        text-transform: lowercase;
        color: #000000;   
    }
    .sub-text{
        position: absolute;
        margin-left: 32%;
        margin-top: 10%;
    }
    .main-text .sub-text{
        margin-top: -15%;

    }
    .home{
        text-align: center !important;
    }
     
}

@media (max-width: 1536px) {
    :root{
        --heading-font: 1.6rem;
        --h2-font: 2.25rem;
        --main-text-font: 2.75rem;
        --sub-heading-font: 1.2rem;
        --watermark-font: 7.375rem;
        --nav-font: 1.0rem;
        --soc-font:0.8rem;
    }
    .home-text{
        margin-left: 6%;
        font-size: 2.8rem;
        line-height: 60px;
        letter-spacing: 0.030em;
        width: 700px;;
    }
    .main-heading-sub{
        font-size: 1.2rem;
    }
    .home-text-content{
        margin-top: 2%;
    }
    .backround-text{
        line-height: 120px;
        letter-spacing: 0.015em;
        margin-left: -13%;
    }
    .about-nav{
        margin-top: 10%;
        margin-left: -1%;
    }
    .about-text-highlight{
        font-size: 2.75rem;
        line-height: 50px;
    letter-spacing: 0.015em;
    }
    .about-text-content-main-text{
        margin-top: 2%;
    }
    .team-nav-link{
        font-size: 1.2rem;
    }
    .team-link{
        margin-top: 8%;
    }
    .about-us-watermark{
        line-height: 110px;
    }
    .contact-us-addresses{
        margin-top: 14%;
    }
    .contact-us-text{
        margin-top: 10%;
    }
    .contact-us-text-heading-main{
        margin-top: -2%;
    }
    .contact-us-watermark{
        line-height: 100px;
        letter-spacing: 0.015em;
    }
    .contact-nav-item{
        margin-left: -6%;
        margin-right: 7%;
    }
    .contact-us-text-heading-main{
        font-size: 2.5rem;
    }
    .contact-us-nav{
        margin-top: 20%;
    }
    .contact-scroll-img{
        width: 18%;
        margin-top: 42%;
        margin-left: -28%;
    }

    .products-img{
        width: 91%;
        height: auto;
        margin-left: 5%;
        margin-top: -24%;
    }

    .products-1{
        margin-top: 5%;
        margin-left: 20%;
        width: 455px;
        height: 190px;
    }
    
    .products-2{
        margin-top: 5%;
        margin-left: 20%;
        width: 455px;
        height: 190px;
    }
    .products-3{
        margin-top: 2%;
        margin-left: 20%;
        width: 455px;
        height: 190px;
    }
    
}
/* Scroll Animation */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 3s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/* Team page CSS */
.team{
    background-image: url("../assets/Team.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

